APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=mandrill
MANDRILL_API_KEY=YOUR_API_KEY_HERE
EMAIL_FROM_EMAIL=no-reply@tokenly.co
EMAIL_FROM_NAME=Tokenly Accounts
EMAIL_PRETEND=false
