.text-danger, .alert-danger, .panel-danger
  color: $brand-red

.text-success, .alert-success, .panel-success
  color: $brand-green-contrast

.text-warning, .alert-warning, .panel-warning
  color: $brand-yellow

body.dashboard
  .text-danger, .alert-danger, .panel-danger, .text-success, .alert-success, .panel-success
    display: inline-block
    font-weight: bold
  
.error-heading
  color: $gray
  font-weight: bold
  text-transform: uppercase