
footer {
    background-color: darken(@olive, 28%);
    height: 48px;
 
    div.contents {
        margin: 0;
        font-weight: 300;
        font-size: 0.8rem;
        color: fade(#fff, 65%);

        a {
            color: white;
            text-decoration: underline;
        }

        ul {
            margin: 0;
            padding: 14px 24px;
            font-size: 0.8rem;
        }
    }

}