@flat-green: #2ecc71;
@flat-blue: #2ea1cc;
@flat-red: #e74c3c;
@flat-yellow: #f1c40f;

@dark-grey: #333;
@medium-grey: #999;
@light-grey: #ddd;

.green {
    color: @flat-green;
}
.blue {
    color: @flat-blue;
}
.red {
    color: @flat-red;
}
.yellow {
    color: @flat-yellow;
}

h1 {
    color: @dark-grey;
}